.content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 200px;
    padding: 10px;
}
.head{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;

}
.button{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 5px;
    background-color: #F2C5FF;
    border-color: #C91DFA;
}
.h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    color: #3d0a4b;
}
.container{
    margin: 10px;
    border: 1px solid black;
    width: fit-content;
    background-color: #f8e7fd;
}